// Colors

$teal: #4d96a9;
$purple: #855fb1;
$midnight: #28283d;
$grey: #87879d;
$lightGrey: #d8d8d8;
$lightBlue: #8fe3f9;
$lightPurple: #d9b8ff;
$offWhite: #fafafa;

// Typography
$redHat: "Red Hat Display", sans-serif;

// Fonts
$fontSm: 1rem; //16px
$fontMd: 1.125rem; //18px
$fontMd2: 2rem; //32px
$fontLg: 2.5rem; //40px
$fontXl: 3rem; //48px
$font2Xl: 4rem; //64px

$fontWeights: (
  "medium": 500,
  "black": 900,
);
